In [1]:
#import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from PIL import Image
import os
import torch

imfolder='./Images/'

In [2]:
df1=pd.read_csv('./data/train_image_paths_rev.txt', header=None)
df1.columns=['fpath']
df1['fpath']=df1['fpath'].map(lambda x: os.path.join(imfolder, x))
df1=df1.fpath.unique()
df1

array(['./Images/vest/vest_10s.jpg',
       './Images/fencepost/fencepost_10s.jpg',
       './Images/fondue/fondue_10s.jpg', ...,
       './Images/diving_board/diving_board_08s.jpg',
       './Images/pacifier/pacifier_08s.jpg',
       './Images/baseball/baseball_08s.jpg'], dtype=object)

In [3]:
df1.shape

(22448,)

In [4]:
for i, raw in enumerate(df1):
    image = Image.open(raw)
    image = image.resize((48,48))
    image = np.array(image).astype(np.uint8)#.transpose(2, 1, 0)
    image = torch.tensor(image).unsqueeze(0)
    if i==0:
        image_ts = image
    else:
        image_ts = torch.cat((image_ts, image))

In [5]:
image_ts.shape

torch.Size([22448, 48, 48, 3])

In [6]:
torch.save(image_ts, './data/train_image.pt')

In [44]:
df_tmp=pd.DataFrame(df1)
df_tmp.columns=['fpath']
df_tmp['fname']=df_tmp.fpath.map(lambda x: x.split('/')[2])
df_tmp.fname.to_csv('./data/train_image_name.txt', header=False, index=False)

In [81]:
df11=pd.read_csv('./data/train_image_paths_rev.txt', header=None).to_numpy()
df22=torch.load('./data/train_y.pt').numpy().reshape(-1,1)
df_m=np.concatenate([df11, df22], axis=1)
df_m=pd.DataFrame(df_m)
df_m.columns=(['fpath', 'y'])
df_m_unq=df_m.drop_duplicates().reset_index(drop=True)
df_m_unq

                                           fpath     y
0                              vest/vest_10s.jpg  1759
1                    fencepost/fencepost_10s.jpg   576
2                          fondue/fondue_10s.jpg   626
3                            camel/camel_10s.jpg   245
4                      stingray/stingray_10s.jpg  1556
...                                          ...   ...
22443                          tuba/tuba_08s.jpg  1723
22444  magnifying_glass/magnifying_glass_08s.jpg   958
22445          diving_board/diving_board_08s.jpg   494
22446                  pacifier/pacifier_08s.jpg  1093
22447                  baseball/baseball_08s.jpg    78

[22448 rows x 2 columns]

In [82]:
df_m_unq.y.to_csv('./data/train_image_y.txt', header=False, index=False)

以下は使わない

In [16]:
df2=pd.read_csv('./data/val_image_paths_rev.txt', header=None)
df2.columns=['fpath']
df2['fpath']=df2['fpath'].map(lambda x: os.path.join(imfolder, x))
df2=df2.fpath.unique()
df2

array(['.\\Images\\windshield/windshield_08s.jpg',
       '.\\Images\\mango/mango_13s.jpg',
       '.\\Images\\brownie/brownie_08s.jpg', ...,
       '.\\Images\\oilcan/oilcan_07s.jpg',
       '.\\Images\\steamroller/steamroller_07n.jpg',
       '.\\Images\\coffee_filter/coffee_filter_07s.jpg'], dtype=object)

In [18]:
df2.shape

(15032,)

In [ ]:
for i, raw in enumerate(df2):
    image = Image.open(raw)
    image = image.resize((48,48))
    image = np.array(image).astype(np.uint8).transpose(2, 1, 0)
    image = torch.tensor(image)
    if i==0:
        image_ts = image
    else:
        image_ts = torch.cat((image_ts, image))

In [ ]:
#torch.save(image_ts, './data/val_image.pt')